    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');  /* Schriftart importieren  */
*{
    margin: 0;                                      /* Außenabstand definieren  */
    padding: 0;                                     /* Innenabstand definieren */
}
.container {
    background: url(img/1.jpg);                    /* Hintergrundbild einfügen  (CTRL+Space) */
    height: 100vh;                                 /* vh=viewport height, 100vh= volle Höhe des Bildschirms */
    background-size: 100% 100%;                    /* Hintergrundgröße Höhe Breite */
    
}

.container .navbar{                                /* Design des Navigationsmenüs */
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);        /* rgba= red, green, blue, alpha(Transparenz) */
}
.navbar .logo{                                    /* Ausrichtung des Logos */
    display:inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar .logo a{                                 
    text-decoration:none;                        /* ohne Unterstrich */
    font-size: 30px;
    font-family: Tahoma;
    color: #f3f3f3;                            /* Farbcodes: https://www.color-hex.com/ */
}
.navbar ul{                                      /* Navigationsmenü nach rechts verschieben */   
    float:right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;                           /* Navigationsmenü ohne Listenpunkt */
    display:inline-block;                       /* Listenelemente nebeneinander stehen */
    margin: 1px;
    line-height: 130px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-family: Roboto;                        /* Schriftart->   https://fonts.google.com/ */
    transition: .5s;                            /* Übergang zwischen zwei Zuständen des Elements */
}
.navbar ul li a.active,
.navbar ul li a:hover{                          /* Mouseover-Effekt */  
    background:#ff6e00  ;
    border-radius: 6px;                         /* die Ecken von Boxen runden */
}
.container .center{
position:absolute;                              /* die Elemente positionieren */
top: 80%;
left: 95%;
transform: translate(-50%,-50%);
font-family: Tahoma;
user-select: none;                             /* Nutzer dürfen nicht Inhalte mit der Maus auswählen */
}
.center h1{
    color:black;
    font-size:40px;
    font-weight:bold;
    width:100px;
}
.center h2{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    width: 800px;
    margin-top: 10px;
}
.buttons button{
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color:#ffb3b3;
    background: #ff6e00;
    border:solid 2px red;
    border-radius:25px;                             /* die Ecken von Boxen runden */
    cursor:pointer;                                 /* Mauszeiger */
    outline:none;
    transition: .5s;                                /* Übergang zwischen zwei Zuständen des Elements */
}
    .buttons button:hover{
    background:#fff;

}
